<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="MyTravel.portal.GlassCustomConfigurator, MyTravel.portal"/>
			<configurator type="MyTravel.portal.GlassMapperConfigurator, MyTravel.portal"/>
		</services>
		<pipelines>
			<httpRequestBegin>
				<processor type="MyTravel.portal.Pipelines.NotFoundProcessor, MyTravel.portal" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>